@media screen and (min-width: 1025px) {
    .mdl-layout__drawer-button {
        line-height: 50px !important;
    }
}

.demo-card-wide.mdl-card {
    width: 100%;
}
.demo-card-wide > .mdl-card__title {
    color: #000;
    height: 176px;
    background: url('./images/javascript.jpg') center / cover;
}
.demo-card-wide > .mdl-card__menu {
    color: #000;
}