@media screen and (min-width: 1025px) {
    .mdl-layout__drawer-button {
        line-height: 50px !important;
    }
}

.demo-card-wide.mdl-card {
    width: 60%;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
}
.demo-card-wide > .mdl-card__title {
    color: #000;
    height: 400px;
    width: 100%;
    background: url('./images/javascript.jpg') center / cover;
}
.demo-card-wide > .mdl-card__menu {
    color: #000;
}